# Не додавати віртуальне середовище
venv/

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Налаштування редактора VSCode (якщо не хочеш ділитись)
.vscode/

# Системні файли
.DS_Store
Thumbs.db